body {
    margin: 0;
    font-family: sans-serif;
}

.dashboard {
    width: 100%;
    background-color: rgb(140, 162, 190);
    color: white;
    text-align: center;
    height: 60vh;
    line-height: 60vh;
    font-size: 42px;
}